table{
    width: 88%;
    margin: 50px auto;
    background-color: aqua;
}
table.list{
  text-align: center;
  width: 100%;
}
td{
    border: 1px solid green;
    text-align: left;
    padding: 8px 15px;
}
tr:nth-child(even), table.list thread> tr{
    background-color: blue;
} 

input[type ="text"],input[type="number"]{
    width: 90%;
     padding: 13px 20px;
     margin: 7px 0;
     display: inline-block;
     border: 3px solid chocolate;
     border-radius: 4px;
}
input[type ="submit"],input[type="reset"]{
   background-color: aliceblue;
     padding: 6px 12px;
     margin: 15px 0 10px;
     display: inline-block;
     border: none;
     border-radius: 30px;
     font-size: 1rem;
     cursor: pointer;
     outline: none;
}

input[type="submit" ]:hover{
    background-color: aquamarine;
}
input[type="reset" ]:hover{
    background-color: aquamarine;
}
button{
    background-color: aliceblue;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}
button:hover{
    background-color: aquamarine;
}